trainfiles=data/sampled_wsj.train.conllx
validationfiles=data/sampled_wsj.dev.conllx
max-len=145
word-vocfile=data/full_wsj.word_vocab.txt
dependency-vocfile=data/full_wsj.label_vocab.txt
pos-vocfile=data/full_wsj.postag_vocab.txt
shuffle-datapoints=1
batch=1
solver=3
initializer=0
initializer-std=0
gamma=1.0
nthreads=2
ncomposition=16
nprojection=16
nhidden=16
init-alpha=0.0004
save-all-models=1
